*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    background-color: white;

}
.container1{
    height: 1100px;
    width: 100%;
    background-image: url(Image/hero-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.container1 nav{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container1 nav h1{
    color: white;
    font-size: 2.3rem;
    margin-left: 40px;
}
.container1 nav .achor{
    width: 800px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.container1 nav .achor a{
    color: #ffffff;
    font-size: 1.5rem;
    text-decoration: none;
}
.container1 nav .achor a:hover{
    text-decoration: underline;
}
.container1 nav .achor i{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}
/**.main***/
.main{
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container1 .one {
    margin-left: 80px;
}
.container1 .one h1{
    width: 500px;
    color: white;
    font-size: 4rem;
    margin-bottom: 30px;
}
.container1 .one button{
    height: 40px;
    width: 150px;
    background-color: #00bbf0;
    border: none;
    margin-top: 40px;
    cursor: pointer;
    color: white;
    font-size: 1.1rem;
}
.container1 .one p{
   width: 550px;
   color: white;
   line-height: 26px;
}
/**image**/
.container1 .main .image{
    height: 500px;
    width: 583px;
    background-image: url(Image/slider-img.png);
    background-size: cover;
    margin-right: 100px;
}
/******************our_services***************/
.our_services{
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.our_services h1 {
    color: #00bbf0;
    font-size: 3.4rem;
    margin-bottom: 20px;
}
.our_services span{
    margin-right:10px ;
}
.our_services p {
    font-size: 1.3rem;
}
/**main**/
.our_services .main{
    display: flex;
    justify-content: space-evenly;
}
/***one**/
.our_services .one{
    height: 400px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.our_services .one .image1{
    height: 100px;
    width: 100px;
    background-image: url(Image/s1.png);
    background-size: cover;
}
.our_services .main .one h1{
    color: black;
    font-size: 2rem;
    margin-top: 20px;
}
.our_services .main .one p{
    font-size: 1.1rem;
    width: 350px;
    text-align: center;
}
.our_services .main .one a{
    color: #00204a;
    margin-top: 30px;
    font-size: 1.3rem;
    text-decoration: none;
}
.our_services .main .one a:hover{
    text-decoration: underline;
}
/****two****/
.our_services .two{
    height: 400px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.our_services .two .image2{
    height: 100px;
    width: 100px;
    background-image: url(Image/s2.png);
    background-size: cover;
}
.our_services .main .two h1{
    color: black;
    font-size: 2rem;
    margin-top: 20px;
}
.our_services .main .two p{
    font-size: 1.1rem;
    width: 350px;
    text-align: center;
}
.our_services .main .two a{
    color: #00204a;
    margin-top: 30px;
    font-size: 1.3rem;
    text-decoration: none;
}
.our_services .main .two a:hover{
    text-decoration: underline;
}
/**three**/
.our_services .three{ 
    height: 400px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.our_services .three .image3{
    height: 100px;
    width: 100px;
    background-image: url(Image/s3.png);
    background-size: cover;
}
.our_services .main .three h1{
    color: black;
    font-size: 2rem;
    margin-top: 20px;
}
.our_services .main .three p{
    font-size: 1.1rem;
    width: 350px;
    text-align: center;
}
.our_services .main .three a{
    color: #00204a;
    margin-top: 30px;
    font-size: 1.3rem;
    text-decoration: none;
}
.our_services .main .three a:hover{
    text-decoration: underline;
}
.our_services button{
    height: 50px;
    width: 120px;
    font-size: 1.1rem;
    background-color: #00bbf0;
    border: none;
    margin-bottom: 40px;
    color: white;
    cursor: pointer;
}